<ion-view>
	<div class="bar bar-header">
		<h1 class="title">我的</h1>
		<a class="button button-icon icon ion-ios-gear-outline"></a>
		<a class="button button-icon icon ion-ios-bell-outline"></a>
	</div>
	<ion-content class="has-header art">
		<div class="me">
			<img src="../img/himg/ht5.jpg" alt="" /> 
			<a href="#/tab/register">点击登录或注册</a>
			<i class="icon ion-chevron-right"></i>
		</div>
		<div class="tabs tabs-icon-top" id="me-nav">
			<a class="tab-item" href="">
				<i class="icon ion-document-text"></i> 全部菜单
			</a>
			<a class="tab-item">
				<i class="icon ion-social-yen"></i> 我的优惠券
			</a>
			<a class="tab-item">
				<i class="icon ion-android-drafts"></i> 豆果钱包
			</a>
		</div>
		<ion-list id="me-list">
			<ion-item class="item-icon-right">
				我的收藏
				<span class="item-note">
			      创建的菜单在这里
			    </span>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
			<ion-item class="item-icon-right">
				最近浏览菜谱
				<i class="icon ion-chevron-right"></i>
			</ion-item>
			<ion-item class="item-icon-right">
				积分商城
				<span class="item-note">
			      积分兑换礼品
			    </span>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
			<ion-item class="item-icon-right">
				采购清单
				<i class="icon ion-chevron-right"></i>
			</ion-item>
			<ion-item class="item-icon-right">
				草稿箱
				<i class="icon ion-chevron-right"></i>
			</ion-item>
			<ion-item class="item-icon-right">
				应用推荐
				<i class="icon ion-chevron-right"></i>
			</ion-item>
		</ion-list>
		</ion-contents>
</ion-view>