<ion-view>
	<div class="bar bar-header">
		<h1 class="title">圈圈</h1>
		<a class="button button-icon icon ion-ios-bell-outline"></a>
	</div>
	<ion-content class="has-header art">
		<div class="swiper-container qbanner">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../img/qbg1.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="../img/qbg2.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="../img/qbg3.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="../img/qbg4.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="../img/qbg5.jpg" alt="" />
				</div>
			</div>

			<!-- 如果需要滚动条 -->
			<div class="swiper-scrollbar" style="bottom:-3px;"></div>
		</div>
		<ion-list>
			<ion-item class="item-avatar qname"
				 ng-repeat="rgood in rgoods"
				 href="#/tab/ring/{{rgood.id}}">
				<img src="{{rgood.imgUrl}}" style="border-radius:0;">
				<h2>{{rgood.name}} <span>今日围观{{rgood.people}}</span></h2>
				<p>{{rgood.art}}</p>
			</ion-item>
		</ion-list>
		<h5 class="hot-card">
			热门帖子
		</h5>
		<div class="cardlist">
			<div class="_card" ng-repeat="rcard in cards">
				<div class="card-left">
					<div class="card-top">
						<img src="{{rcard.imgUrl[0]}}">
						<p>{{rcard.userId}}</p>
						<p>{{rcard.time}}</p>
					</div>
					<h4>{{rcard.leaveMsg}}</h4>
					<p>
						{{rcard.seeNum}} {{rcard.words}} 来自
						<span>{{rcard.from}}</span>
					</p>
				</div>
				<div class="card-right">
					<img src="{{rcard.imgUrl[1]}}" alt="" />
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>